{% load static %}

{% if request.user.is_authenticated %}


<!DOCTYPE html>
<html lang="en" class="no-js" style="scroll-behavior: smooth;">
<!-- Powered and Signed by Batuhan Irmak and Cengizhan Deveci  -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IEEE ODTÜ - Seçim Sistemi</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="../static/dist/css/style.css">
	<script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <link rel="icon" href="../static/dist/images/logo_sade.png">
    <!-- Powered and Signed by Batuhan Irmak and Cengizhan Deveci  -->
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
							<a href= "/">
								<img class="header-logo-image" src="../static/dist/images/logovec.png" style="width: 250px;" alt="Logo">
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <!-- Powered and Signed by Batuhan Irmak and Cengizhan Deveci  -->

        <main>
           <!-- Powered and Signed by Batuhan Irmak and Cengizhan Deveci  -->
            <section class="hero">

                <div class="container">
                    <div class="hero-copy">
                        <div class="hero-cta"><a class="button" href="/user/logout">Çıkış Yap</a>
                            <a class="button button-primary" href="/user/password_change">Parola Değiştir</a>
                        </div>
                    </div>
                    <div class="hero-inner">

						          <div class="hero-copy">

                            <h4 class="hero-title mt-0">Kullanıcı: {{request.user.username}}</h4>
                            <h1 class="hero-title mt-0">Oylamalar</h1>

	                        {% if questions %}
                                <ul>
                                    {% for question in questions %}
                                        <li><a style="color:white" href = {% url "polls:detail" question.id %} ><b>{{question.question_text}}</b> </a></li>

                                    {% endfor %}
                                <!-- Powered and Signed by Batuhan Irmak and Cengizhan Deveci  -->
                                </ul>
                            {% endif %}
						        </div>
						        <div class="hero-figure anime-element">
							        <svg class="placeholder" width="528" height="396" viewBox="0 0 528 396">
								        <rect width="528" height="396" style="fill:transparent;" />
							        </svg>
                      <div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>
                      <div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>
                      <div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>
                      <div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>
                      <div class="hero-figure-box hero-figure-box-05"></div>
                      <div class="hero-figure-box hero-figure-box-06"></div>
                      <div class="hero-figure-box hero-figure-box-07"></div>
                      <div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>
                      <div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>
                      <div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>
						        </div>
                  </div>
                </div>
            </section>



        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="site-footer-inner">
                    <div class="footer-copyright">&copy; 2020 IEEE ODTÜ, All Rights Reserved</div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Powered and Signed by Batuhan Irmak and Cengizhan Deveci  -->
    <script src="../static/dist/js/main.min.js"></script>
<script async src='https://www.googletagmanager.com/gtag/js?id=UA-125021779-1'></script><script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-125021779-1', { 'anonymize_ip': true });</script>
</body>
<!-- Powered and Signed by Batuhan Irmak and Cengizhan Deveci  -->
</html>


{% else %}
<head>
    <meta http-equiv="refresh" content="0;url=/user/login" />
</head>

{% endif %}



    

    